<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>前端使用贝塞尔曲线实现移动曲线动画</title>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        .wraper {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 48px;
            height: 48px;
            background-color: #00aa00;
            border-radius: 50%;
            transition: right .6s linear, top .6s cubic-bezier(0.5, -0.5, 1, 1);
        }
    </style>
</head>

<body>
    <!-- 垂直运动 -->
    <div class="wraper">
    </div>
</body>
<script>
    window.onload = () => {
        document.getElementsByClassName('wraper')[0].onclick = (e) => {
            document.getElementsByClassName('wraper')[0].style.top = '400px';
            document.getElementsByClassName('wraper')[0].style.right = '400px'
        }
    }
</script>

</html>